<app-navbar></app-navbar>
<div class="container-fluid mt-4" *ngIf="chapter">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-md-3 sidebar">
      <h5 class="sidebar-title">Chapters</h5>

      <ul class="list-group">
        <li
          class="list-group-item chapter-item"
          *ngFor="let ch of chapters"
          [class.active]="ch.chapterId === chapter.chapterId"
          [routerLink]="['/courses', ch.courseId, 'chapters', ch.chapterId]">
          
          Chapter {{ ch.order }}<br />
          <small>{{ ch.title }}</small>
        </li>
      </ul>
    </div>

    <!-- Content -->
    <div class="col-md-9">
      <div class="chapter-wrapper shadow-sm">
        <h1 class="chapter-title">{{ chapter.title }}</h1>

        <div class="chapter-content"
             [innerHTML]="chapter.content">
        </div>
      </div>
    </div>

  </div>
</div>
